*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.fpic{
  background-image: url(../../city.jpg);
  background-size: 1500px 800px;
  max-width: 1500px;
  height: 700px;
}

.pictext{
  font-size: 60px;
  color: white;
  text-align: center;
  padding-top: 550px;
  font-weight: 1000;
}

.fpara{
  width: 800px;
  height: 300px;
  padding: 20px;
  font-size: 1.4em;
  font-weight: 700;
  }

span{
  font-size: 36px;
  font-weight: 1000;
  padding-bottom: 20px;

}