body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

/* @media screen and (max-width: 900px) {
  #fpic{
    background-image: url(../../ny.jpg);
    background-size: 900px 600px;
    width: 900px;
    height: 600px;
  }

  #fpara{
    width: 800px;
    height: 300px;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    
  }
} */