.reli__footer {
  padding: 0.75em;
}

.reli__footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  font-size: 20px;

  padding-top: 10px;
}

.reli__footer-contact {
  font-weight: 900;
  color: #30362f;
  font-size: 20px;
  padding-top: 5px;
}

.reli__footer-phone {
  color: #30362f;
  font-size: 18px;
  margin-top: 10px;
  text-shadow: 1px 0 #30362f;
  letter-spacing: 2px;
}

.reli__footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.reli__footer-year {
  font-size: 18px;
  color: #30362f;
  margin-top: 10px;
  margin-bottom: 10px;
  position: static;
}

.face {
  background-image: url(../../assets/facebook_icon.svg);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  margin: 5px;
}

.face:hover {
  background-size: 38px;
  height: 38px;
  width: 38px;
  margin-top: -10px;

  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.linked {
  background-image: url(../../assets/linked_icon.svg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  margin: 5px;
}

.linked:hover {
  background-size: 38px;
  height: 38px;
  width: 38px;
  margin-top: -10px;

  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.twitter {
  background-image: url(../../assets/twitter_icon.svg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  margin: 5px;
}

.twitter:hover {
  background-size: 38px;
  height: 38px;
  width: 38px;
  margin-top: -10px;

  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.pint {
  background-image: url(../../assets/pinterest_icon.svg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  margin: 5px;
}

.pint:hover {
  background-size: 38px;
  height: 38px;
  width: 38px;
  margin-top: -10px;

  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
